/* Importando fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F0F0F0; /* Cinza claro suave */
    color: #3E3E3E; /* Cinza escuro */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    background-color: #FFFFFF; /* Branco */
    padding: 40px;
    border-radius: 20px; /* Bordas mais arredondadas */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Sombra mais suave */
    width: 100%;
    max-width: 800px;
    text-align: center;
}

h1 {
    color: #6D4C41; /* Marrom suave */
    margin-bottom: 30px;
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #5D4037; /* Marrom escuro suave */
}

input[type="text"], select {
    padding: 15px;
    font-size: 1em;
    border: 1px solid #BDBDBD; /* Cinza claro */
    border-radius: 10px; /* Bordas mais arredondadas */
    background-color: #FAFAFA; /* Branco suave */
    color: #3E3E3E; /* Cinza escuro */
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus, select:focus {
    border-color: #8D6E63; /* Marrom suave */
}

#ingredients {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.ingredient {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ingredient img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    padding: 15px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    background-color: #765042; /* Marrom médio suave */
    color: #FFFFFF;
}

button:hover {
    background-color: #5D4037; /* Marrom escuro suave */
    transform: scale(1.05);
}

#order-summary {
    margin-top: 30px;
    font-size: 1.2em;
    color: #6D4C41; /* Marrom suave */
}
